{% extends 'base.html' %}

{% block content %}
    <div class="project-detail-container">
        <h2>{{ project.title }}</h2>
        
        <div class="project-info">
            <p><strong>Description:</strong> {{ project.description }}</p>
            <p><strong>Tech Stack:</strong> {{ project.tech_stack | join(', ') }}</p>
        </div>

        <div class="project-links">
            {% if project.live_demo %}
                <a href="{{ project.live_demo }}" target="_blank" class="button">Test Live API Demo</a>
            {% endif %}
        </div>
        <br/>
        <div class="project-links">
            {% if project.github_url %}
                <a href="{{ project.github_url }}" target="_blank" class="button">View Source on GitHub</a>
            {% endif %}
            </div>

            
        
        <br><br>
        <a href="{{ url_for('home') }}">&larr; Back to Projects</a>
    </div>
{% endblock %}